 {% extends "base.html"%}

{% block head_title %}
Welcome to 
{% endblock %}
{% block styles %}
.jumbotron {
    <!--color: red-->
}
{% endblock %}

{% block jquery %}
<!--alert("welcome!");-->
{% endblock%}

{% block jumbotron %}
<div class="container">
<div class="jumbotron">
    <h1>Navbar example</h1>
    <h1>Hello {{username_is}}</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.5/components/navbar/" role="button">View navbar docs &raquo;</a>
</div>
</div>
{% endblock %}
 {% block content%}

  <div class="row">
  {% for product in products%}
  <div class="col-md-4">
  {{product.title}} 
  {{product.price}}

  {% for item in product.productimage_set.all %}
  <a src="{{item.image}}"><img src="{{ MEDIA_URL }}/media/{{ item.image }}" alt="image" /></a>
  {% endfor %}
  </div>
  {% endfor %}
  </div>  
 {% endblock%}