 {% extends "base.html"%}

{% block head_title %}
Welcome to 
{% endblock %}
{% block styles %}
.jumbotron {
    <!--color: red-->
}
{% endblock %}

{% block jquery %}
<!--alert("welcome!");-->
{% endblock%}

{% block jumbotron %}

{% if sliders %}
 <div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for slider in sliders %}

    <div class="carousel-item {% if forloop.first %}active{% endif %}">
    {% if slider.url_link %}<a href='{{ slider.url_link }}'>{% endif %}
    <img src="{{ slider.get_image_url }}" alt="first slide">
    {% if slider.url_link %}</a>{% endif %}
  <div class="carousel-caption d-none d-md-block">
  {% if slider.header_text %}
    <h2>{{ slider.header_text|safe}}</h2>
  {% endif %}
  {% if slider.text %}
  <p>{{ slider.text|safe }}</p>
  {% endif %}  
    
  </div>
    </div>
    
    {% endfor %}
  </div>
</div>
  </div>
{% endif %}


<!--<div class="container">
<div class="jumbotron">
    <h1>Navbar example</h1>
    <h1>Hello {{username_is}}</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.5/components/navbar/" role="button">View navbar docs &raquo;</a>
</div>
</div>-->
{% endblock %}
 {% block content%}

  <div class="row">
  {% for product in products%}
  <div class="col-md-4">
  <div class=" card">
  {% if product.productimage_set.all %}
        {% for item in product.productimage_set.all %}
                {% if not item.featured %}
                <img class='img-fluid card-img-top' src="{{ MEDIA_URL }}/media/{{ item.image }}" alt="image" />
                {% endif %}
        {% endfor %}
  {% else %}
  <p>No Image</p>
  {% endif %}
  <div class=" card-body">
  <h5 class=" card-title"><a href='{% url "single_product" product.slug %}'> {{product.title}}</a></h5>
  <p class="card-text">{{product.price}}<br/> Slug:  {{product.description|truncatewords:15}}</p>
  </div>
  </div>
  
 </div>
  {% cycle "" "" "</div><div class='row'>" %}
  
  {% endfor %}
  </div>  
 {% endblock%} 