
{% extends 'base.html' %}
<div class="page-header">
<h1>{{product.title}}</h1>
</div>
{% block content %}

<div class="row">
<div class="col-sm-4">
<h1>{{images.image}}</h1>
{% for item in images %}
    <img class=" img-fluid" src="{{ MEDIA_URL }}/media/{{ item.image }}" />
{% endfor %}
</div>
<div class="col-md-8">
<div class='row mb-3'>
<div class='col-md-8'>
<h1>{{product.title}} </h1>
</div>
<div class='col-md-4'>

<form class='form-control' method="POST" action='{% url "update_cart" product.slug %}'>
{% csrf_token %}
<input class='form-control' name='qty' type='number' placeholder='1' value='1' />

{% if product.variation_set.all  %}

{% if product.variation_set.colors  %}
<select class='form-control' name='color'>
{% for item in product.variation_set.colors %}
<option value='{{item.title}}'>{{ item.title|capfirst}}</option>
{% endfor %}
</select>
{% endif %}

{% if product.variation_set.sizes  %}
<select class='form-control' name='size'>
{% for item in product.variation_set.sizes %}
<option value='{{item.title}}'>{{ item.title|capfirst}}</option>
{% endfor %}
</select>
{% endif %}


{% endif %}
<input class='btn btn-info' value='Add to cart' type='submit' />
</form>
</div>
</div>
<hr/>
Price: {{product.price}}<br/>
Shipping: Free with $25+ purchase.
<hr/>
<h4>{{product.description|linebreaks}}</h4>
</div>
</div>

{% endblock %}
